server:
  port: 15012
  servlet:
    context-path: /
spring:
  main:
    web-application-type: servlet
  application:
    name: ${project.artifactId}
---
# 数据库的相关配置
#spring:
#  datasource:
#    url: jdbc:mysql://175.178.193.128:20044/kongyu  # MySQL数据库连接URL
#    username: root  # 数据库用户名
#    password: Admin@123  # 数据库密码
#    type: com.zaxxer.hikari.HikariDataSource  # 使用 HikariCP 数据源
#    hikari:
#      maximum-pool-size: 1000  # 最大连接池大小
#      minimum-idle: 10  # 最小空闲连接数
#      idle-timeout: 30000  # 空闲连接超时时间，单位毫秒
#      connection-timeout: 30000  # 获取连接的最大等待时间，单位毫秒
---
# 数据库的相关配置
spring:
  datasource:
    dynamic:
      primary: mysql
      strict: false
      datasource:
        mysql:
          url: jdbc:mysql://47.108.128.105:20001/kongyu  # MySQL数据库连接URL
          username: kongyu  # 数据库用户名
          password: kongyu  # 数据库密码
          # driver-class-name: com.mysql.cj.jdbc.Driver  # 数据库驱动类，框架会自动适配
          type: com.zaxxer.hikari.HikariDataSource  # 使用 HikariCP 数据源
          hikari:
            maximum-pool-size: 1000  # 最大连接池大小
            minimum-idle: 10  # 最小空闲连接数
            idle-timeout: 30000  # 空闲连接超时时间，单位毫秒
            connection-timeout: 30000  # 获取连接的最大等待时间，单位毫秒
        doris:
          type: com.zaxxer.hikari.HikariDataSource
          url: jdbc:mysql://47.108.128.105:20125/kongyu
          # driver-class-name: com.mysql.cj.jdbc.Driver
          username: kongyu
          password: kongyu
          hikari:
            maximum-pool-size: 1000
            minimum-idle: 10
            idle-timeout: 30000
            connection-timeout: 30000
        postgresql:
          type: com.zaxxer.hikari.HikariDataSource
          url: jdbc:postgresql://47.108.128.105:20002/kongyu?currentSchema=public&stringtype=unspecified
          # driver-class-name: org.postgresql.Driver
          username: kongyu
          password: kongyu
          hikari:
            maximum-pool-size: 1000
            minimum-idle: 10
            idle-timeout: 30000
            connection-timeout: 30000
